.logo {
  text-align: left;
  height: 40px;
  width: 40px; }

a {
  color: #BEB9C1; }

.social-icons {
  position: relative;
  display: inline-block;
  letter-spacing: 50px;
  padding: 0 50px;
  float: right; }

footer {
  width: 100%;
  height: 200px;
  color: #BEB9C1;
  background-color: #C6C87E;
  text-align: center;
  display: flex;
  flex-direction: row; }
  footer ul {
    justify-content: flex-end;
    letter-spacing: 30px;
    text-align: center;
    color: #BEB9C1;
    margin-top: 10px; }
  footer li {
    justify-content: flex-end;
    float: right;
    margin-top: 10px; }
  footer .logo {
    justify-content: flex-start; }

body {
  background: #EAF0CE; }
