@mixin hero($height) {
    background-image: url('../img/22.jpg');
    height: $height;
    background-position:center;
    background-size: cover;
    width: 100%;
    padding: 50px;
    font-family: "Comic Sans MS";
    p, h1 {
        margin: 0;
    }
}

.herobig {
    @include hero(300px);
}

.herosmall {
    @include hero(150px);
}
