*{
    margin: 0;
    padding: 0;
}

.blog_link {

    @include post;

    .blog_text,
    .blog_photo{
        padding: 10px;
    }

    h2{
        margin: 0;
        font-size: 28px;
    }
	
	a{
		color: #000;
		text-decoration: none;
	}

    .blog_photo{
        height: 33vh;
        @include blog_image('../img/blog_post.jpg');
    }

    .blog-text{
        color: $secondarycolor;
    }

    #blog_page_p{
        padding: 20px;
		text-align: justify;
    }

    @media(max-width:700px){
        flex-flow: column;

        .blog_photo,
        .blog_text{
            flex-flow: column;
        }

        h2,
        h3{
            text-align: center;
        }
    }
}

.blog_post_page{
		display: flex;
		flex-flow: column;
		width: 80%;
		padding: 20px;
		margin: 0 auto;
		background: $primarycolor;
		
		h2{
			text-align: center;
			font-size: 28px;
		}
		
		p{
			margin-top: 20px;
		}
	}
