*{
    margin: 0;
    padding: 0;
}

.blog_link {

    @include post;

    .blog_text,
    .blog_photo{
        padding: 10px;
    }

    h1{
        margin: 0;
    }

    .blog_photo{
        height: 33vh;
        @include blog_image('../img/blog_post.jpg');
    }

    .blog-text{
        color: $secondarycolor;
    }
}
