.blog_link {

    @include post;

    .blog_text,
    .blog_photo{
        padding: 10px;
    }

    .blog_photo{
        height: 100%;
        width: 100%;
    }

    .blog-text{
        color: $secondarycolor;
    }
}
