@import 'scss/base/_variables.scss';

footer {
    width:100%;
    height: 200px;
    color: $primarycolor;
    background-color: $secondarycolor;
    text-align: center;
    display: flex;
    flex-direction: row;

    ul {
        justify-content: flex-end;
        letter-spacing: 30px;
        text-align: center;
        color: $primarycolor;
        margin-top:10px;

    }

    li {
        justify-content: flex-end;
        float: right;
        margin-top: 10px;

    }

    .logo {
        
        justify-content: flex-start;
    }
}
