@mixin post{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    background: $primarycolor;
}

@mixin blog_image($image_path){
    background: url($image_path);
    background-size: cover;
    background-position: center;
    width: 50%;
    margin: 10px;
}
