$primarycolor: #BEB9C1;
$secondarycolor: #C6C87E;
$backgroundcolor: #EAF0CE;
$fontamily: 'Oxygen', sans-serif;


.logo {
    text-align: left;
    height: 40px;
    width: 40px;
}

a {
    color: $primarycolor;
}


// f00terstyle





.social-icons {
    position: relative;
   display: inline-block;
   letter-spacing: 50px;
   padding: 0 50px;
   float: right;
}
