$primarycolor: #BEB9C1;
$secondarycolor: #C6C87E;
$backgroundcolor: #EAF0CE;
<<<<<<< HEAD
$fontamily: 'Oxygen', sans-serif;
=======
$fontfamily: 'Oxygen', sans-serif;
>>>>>>> master



footer {

}

nav {

}

.social-icons {
    position: relative;
   display: inline-block;
   letter-spacing: 50px;
   padding: 0 50px;
   float: right;
}
